{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Попытки рассылки
                    </h3>
                </div>
                <div class="card-body">
                    <ul>
                        {% for attempt in object_list %}
                        <li><a href="{% url 'mailing:attempt_detail' attempt.pk %}">{{ attempt.get_status_display }}
                            ({{attempt.last_attempt_time}})</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}