{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация пользователя
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Почта</td>
                            <td>{{ object.email }}</td>
                        </tr>
                        <tr>
                            <td>Поле для расширения</td>
                            <td>возможная информация</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}